html, body {
    margin: 0;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
}

header {
    background: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 55px;
}

header > img {
    width: 24px;
    margin-right: 7px;
}

h1 {
    font-size: 0.9rem;
    font-weight: 500;
}

.container {
    margin: 45px 40px;
}

article {
    display: flex;
}

.marker {
    width: 7px;
    margin-right: 4px;
}

.entry-image {
    width: 125px;
    height: 168px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 19px;

}

.country {
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-right: 12px;
}

.maps-link {
    color: #2B283A;
    font-size: 0.7rem;

    &:hover, &:focus {
      color: #F55A5A!important;
    }

    &:visited {
      color: #918E9B;
    }
}

h2 {
    margin-top: 7px;
    margin-bottom: 17px;
}

.trip-dates {
    font-weight: bold;
}

.entry-text {
    line-height: 1.5;
    font-size: 0.8rem;
}